{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Register Victim Page</h1>

<form method="post" class="space-y-6 p-6 bg-white rounded-xl shadow-md">
    {% csrf_token %}

    <div class="border border-gray-300 rounded-xl p-4">
        <h2 class="text-xl font-semibold mb-2">Victim/Survivor Information</h2>
        {{ victim_form.as_p }}
    </div>

    <div class="border border-gray-300 rounded-xl p-4">
        <h2 class="text-xl font-semibold mb-2">Incident Information</h2>
        {{ incident_form.as_p }}
    </div>

    <div class="border border-gray-300 rounded-xl p-4">
        <h2 class="text-xl font-semibold mb-2">Alleged Perpetrator Information</h2>
        {{ perpetrator_form.as_p }}
    </div>

    <div class="text-right">
        <input type="submit" value="Submit" class="btn btn-primary px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
    </div>
</form>

{% endblock %}